html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: row;
}

#sideBarDiv {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  width: 15%;
  box-shadow: 7px 0px 19px 0px rgba(0, 0, 0, 0.75);
  background: linear-gradient(
    to top,
    lightgrey 0%,
    lightgrey 1%,
    #e0e0e0 26%,
    #efefef 48%,
    #d9d9d9 75%,
    #bcbcbc 100%
  );
  position: sticky;
  top: 0;
}

#sideBarDiv > div:nth-child(1) {
  padding-top: 10px;
  font-size: clamp(0.7em, 2.5vw, 2.5em);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

#sideBarDiv > div:nth-child(2) {
  font-size: clamp(0.4em, 2.5vw, 1.3em);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

#sideBarDiv > div > button:hover {
  cursor: pointer;
}

#addBookBtn {
  border: none;
  background-color: rgba(108, 118, 124, 0);
}

#addBookImg {
  width: clamp(25%, 2.5vw, 40%);
}

#copyrghtDiv {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#copyrghtDiv > a {
  width: clamp(10%, 2.5vw, 20%);
}

#githubBtn {
  width: 100%;
  border: none;
  background-color: rgba(108, 118, 124, 0);
}

#githubIcon {
  width: 100%;
}

#githubBtn:hover {
  cursor: pointer;
}

#mainDiv {
  display: grid;
  width: 85%;
  grid-template-rows: 50vh 50vh;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: 50vh;
  justify-items: center;
  align-items: center;
  background: linear-gradient(
    99.6deg,
    rgb(112, 128, 152) 10.6%,
    rgb(242, 227, 234) 32.9%,
    rgb(234, 202, 213) 52.7%,
    rgb(220, 227, 239) 72.8%,
    rgb(185, 205, 227) 81.1%,
    rgb(154, 180, 212) 102.4%
  );
}

.cards {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 85%;
  height: 70%;
  border-radius: 5px;
  box-shadow: 7px 0px 19px 0px rgba(0, 0, 0, 0.75);
  font-size: clamp(1rem, 2.5vw, 2rem);
  background: linear-gradient(to top, #c4c5c7 0%, #dcdddf 52%, #ebebeb 100%);
}

#grayOutSpan {
  position: fixed;
  left: 0px;
  top: 0px;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.5;
  z-index: 9999;
}

.cards > .paraDiv {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  height: 70%;
}

#rmvBtn {
  width: 10%;
  height: 20%;
  align-self: flex-end;
  appearance: none;
  border: none;
  background-color: rgba(255, 255, 255, 0);
}

#rmvImg {
  width: 100%;
}

.cards > .paraDiv > p {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
  border-bottom: solid rgba(0, 0, 0, 0.322);
}

.readDiv {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 30%;
  gap: 10px;
}

.checkDiv {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 46%;
}

.imgDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 15%;
  height: 100%;
  border: solid rgb(56, 58, 55);
}

.checkIcon {
  width: 94%;
}

.readDiv > .paraRead {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 54%;
}

#popUpDiv {
  width: clamp(17%, 2.5vw, 35%);
  height: 35%;
  position: fixed;
  left: 56%;
  bottom: 40%;
  transform: translate(-42%, 0);
  z-index: 10000;
  background: radial-gradient(
    666px at 0.4% 48%,
    rgb(202, 204, 227) 0%,
    rgb(89, 89, 99) 97.5%
  );
  box-shadow: 7px 0px 19px 0px rgba(0, 0, 0, 0.75);
  border-radius: 5px;
}

#popUpDiv > form {
  width: 100%;
  height: 100%;
}

#popUpDiv > form > fieldset {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border: none;
  width: 100%;
  height: 100%;
}

#popUpDiv > form > fieldset > input {
  width: 90%;
  height: 15%;
  border-radius: 5px;
  appearance: none;
  font-size: clamp(0.5rem, 2.5vw, 1rem);
}

#popUpDiv > form > fieldset > p {
  font-size: clamp(1rem, 2.5vw, 2rem);
}

#popUpDiv > form > fieldset > div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 90%;
  height: 20%;
}

#popUpDiv > form > fieldset > div > input {
  width: 15%;
  height: 40%;
}

#postBookBtn {
  background: linear-gradient(
    113.5deg,
    rgb(234, 234, 234) 22.3%,
    rgb(201, 234, 211) 56.6%,
    rgb(255, 180, 189) 90.9%
  );
}

#postBookBtn {
  cursor: pointer;
}
